-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('user', 'consultant', 'admin');

-- CreateEnum
CREATE TYPE "ThemePreference" AS ENUM ('dark', 'light');

-- CreateEnum
CREATE TYPE "PhaseStatus" AS ENUM ('locked', 'active', 'completed');

-- CreateEnum
CREATE TYPE "AlertType" AS ENUM ('info', 'warning', 'danger');

-- CreateEnum
CREATE TYPE "SessionStatus" AS ENUM ('pending', 'confirmed', 'completed', 'cancelled');

-- CreateTable
CREATE TABLE "users" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "email" VARCHAR(255) NOT NULL,
    "full_name" VARCHAR(100) NOT NULL,
    "avatar_url" TEXT,
    "role" "Role" NOT NULL DEFAULT 'user',
    "theme_preference" "ThemePreference" NOT NULL DEFAULT 'dark',
    "onboarding_completed" BOOLEAN NOT NULL DEFAULT false,
    "business_type" VARCHAR(50),
    "business_stage" VARCHAR(50),
    "initial_capital" BIGINT,
    "target_monthly_revenue" BIGINT,
    "current_phase" SMALLINT NOT NULL DEFAULT 1,
    "health_score" SMALLINT,
    "created_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "phase_progress" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "phase_number" SMALLINT NOT NULL,
    "status" "PhaseStatus" NOT NULL DEFAULT 'locked',
    "checklist_items" JSONB NOT NULL DEFAULT '[]',
    "completed_at" TIMESTAMPTZ,
    "created_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "phase_progress_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tool_data" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "tool_slug" VARCHAR(50) NOT NULL,
    "data" JSONB NOT NULL,
    "version" SMALLINT NOT NULL DEFAULT 1,
    "created_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tool_data_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tool_data_history" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "tool_data_id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "tool_slug" VARCHAR(50) NOT NULL,
    "data_snapshot" JSONB NOT NULL,
    "changed_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tool_data_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "advisory_alerts" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "type" "AlertType" NOT NULL,
    "trigger_source" VARCHAR(50) NOT NULL,
    "title" VARCHAR(200) NOT NULL,
    "message" TEXT NOT NULL,
    "action_url" VARCHAR(255),
    "dismissed" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "advisory_alerts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "consultants" (
    "id" UUID NOT NULL,
    "bio" TEXT,
    "specialization" TEXT[],
    "years_experience" SMALLINT NOT NULL,
    "is_available" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "consultants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "consultation_slots" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "consultant_id" UUID NOT NULL,
    "start_time" TIMESTAMPTZ NOT NULL,
    "end_time" TIMESTAMPTZ NOT NULL,
    "is_booked" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "consultation_slots_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "consultation_sessions" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "consultant_id" UUID NOT NULL,
    "slot_id" UUID NOT NULL,
    "status" "SessionStatus" NOT NULL,
    "briefing" JSONB,
    "user_snapshot" JSONB,
    "meeting_url" VARCHAR(255),
    "consultant_notes" TEXT,
    "duration_minutes" SMALLINT NOT NULL,
    "cancelled_at" TIMESTAMPTZ,
    "created_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "consultation_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "monthly_diagnoses" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "month_year" DATE NOT NULL,
    "health_score" SMALLINT NOT NULL,
    "score_delta" SMALLINT NOT NULL,
    "on_track_items" TEXT[],
    "attention_items" TEXT[],
    "decision_items" TEXT[],
    "generated_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "monthly_diagnoses_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "tool_data_user_id_tool_slug_key" ON "tool_data"("user_id", "tool_slug");

-- AddForeignKey
ALTER TABLE "phase_progress" ADD CONSTRAINT "phase_progress_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tool_data" ADD CONSTRAINT "tool_data_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tool_data_history" ADD CONSTRAINT "tool_data_history_tool_data_id_fkey" FOREIGN KEY ("tool_data_id") REFERENCES "tool_data"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tool_data_history" ADD CONSTRAINT "tool_data_history_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "advisory_alerts" ADD CONSTRAINT "advisory_alerts_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "consultants" ADD CONSTRAINT "consultants_id_fkey" FOREIGN KEY ("id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "consultation_slots" ADD CONSTRAINT "consultation_slots_consultant_id_fkey" FOREIGN KEY ("consultant_id") REFERENCES "consultants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "consultation_sessions" ADD CONSTRAINT "consultation_sessions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "consultation_sessions" ADD CONSTRAINT "consultation_sessions_consultant_id_fkey" FOREIGN KEY ("consultant_id") REFERENCES "consultants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "consultation_sessions" ADD CONSTRAINT "consultation_sessions_slot_id_fkey" FOREIGN KEY ("slot_id") REFERENCES "consultation_slots"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "monthly_diagnoses" ADD CONSTRAINT "monthly_diagnoses_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

